.container {
  height: 400px;
  width: 300px;
  background-color: #F0F0F5;
  border-radius: 4px;
  padding: 0.5rem;

  & + div {
    margin-left: 16px;
  }

  h1 {
    color: var(--titles);
    font-size: 1.3rem;
  }

  time {
    display: inline-block;
    font-size: 0.92rem;
    color: #6C6C80;
    margin-top: 8px;
  }
}

.itemContainer {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  padding: 0.4rem 0;
  border-bottom: 1px solid #B0B0B8;

  img {
    border-radius: 50%;
  }
}

.itemData {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

  strong {
    margin-bottom: 0.3rem;
    color: var(--titles);
  }

  small {
    margin-bottom: 0.8rem;
    color: #6C6C80;
  }
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;

  strong {
    color: var(--titles);
  }
}

.moreItens {
  display: block;
  text-align: center;
  margin-top: 0.4rem;
  text-decoration: underline;
  
  small {
    font-size: 13px;
    cursor: pointer;
  }
}
